<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Blog Website</title>
 <link rel="stylesheet" href="home.css">
 
</head>

<body>
 
 
    <%- include("navbar.ejs") %>
       <div class="error">
      <!-- Blog Section -->
        <% uimapathako.forEach((blog)=>{%>
          <section class="blog">
              <h2> Title: <%-blog.title %></h2>
              <br>
            <div class="helloimage">
                <img src="<%-blog.image%>" alt="image">
              
            </div>
            
        <br>
        <p> Subtitle:                  
         <%-blog.subTitle %>
          

        </p>
        <br>
       <div class="description">
         <p> Description:
          <%-blog.description %>
        </p>
       </div>
        <a href="/singlePage/<%-blog.id %>"> see more</a>
          </section>
          <!-- yo chai maile yaha dekhi jun page ma gainxa ..jada id pani jane banaye -->
     <% }) %>

       </div>
        
      <!-- Footer -->
      <%- include("footer.ejs") %>

      
  
</body>

</html>